<po-container>
  <form [formGroup]="formNfeMonitor">
    <div class="po-row">

      <!-- Filiais -->
      <po-multiselect
        class="po-md-6"
        name="todasFiliais"
        p-label="Filial"
        [p-options]="dadosIdEnt"
        p-placeholder="Selecione uma ou mais filiais"
        p-placeholder-search="Buscar filial"
        p-required
        formControlName="filial"
      >
      </po-multiselect>

      <!-- Status do documento -->
      <po-multiselect
        class="po-md-3"
        name="statusDocumentos"
        p-label="Status de documentos"
        [p-options]="statusDoc"
        p-placeholder="Selecione o status"
        p-placeholder-search="Buscar status"
        formControlName="statusDoc"
      >
      </po-multiselect>

      <!-- Tipo de documento -->
      <po-select
        class="po-md-3"
        name="tipoNF"
        p-label="Tipo de documento"
        [p-options]="tipoNF"
        p-placeholder="Selecione o tipo"
        formControlName="tipoNf"
      ></po-select>

      <!-- Data inicial -->
      <po-datepicker
        class="po-md-2"
        name="dataInicial"
        p-label="Data Inicial"
        p-placeholder="dd/mm/aaaa"
        formControlName="dataInicial"
      ></po-datepicker>

      <!-- Data final -->
      <po-datepicker
        class="po-md-2"
        name="dataFinal"
        p-label="Data Final"
        p-placeholder="dd/mm/aaaa"
        formControlName="dataFinal"
      ></po-datepicker>

      <!-- Numeração inicial -->
      <po-input
        class="po-md-2"
        name="numeracaoInicial"
        p-label="Numeração Inicial"
        p-placeholder="000000000"
        p-mask="999999999"
        formControlName="docInicial"
      ></po-input>

      <!-- Numeração final -->
      <po-input
        class="po-md-2"
        name="numeracaoFinal"
        p-label="Numeração Final"
        p-placeholder="000000000"
        p-mask="999999999"
        formControlName="docFinal"
      ></po-input>

      <!-- Série do documento -->
      <po-input
        class="po-md-1"
        name="serie"
        p-label="Série"
        p-placeholder="000"
        p-maxlength="3"
        p-minlength="1"
        p-mask="999"
        formControlName="serie"
      ></po-input>

      <!-- Ambiente -->
      <po-select
        class="po-md-3"
        name="ambiente"
        p-label="Ambiente"
        [p-options]="ambiente"
        p-placeholder="Selecione o ambiente"
        formControlName="ambiente"
      ></po-select>

    </div>

    <div class="po-row">

      <!-- Botão limpar -->
      <po-button
        class="po-offset-lg-8 po-offset-xl-8 po-md-2"
        p-label="Limpar filtro"
        p-type="danger"
        (p-click)="formNfeMonitor.reset()"
      ></po-button>

      <!-- Botão filtrar -->
      <po-button
        class="po-md-2"
        p-label="Aplicar filtro"
        [p-disabled]="formNfeMonitor.invalid"
        (p-click)="onSubmit(); formNfeMonitor.reset()"
      ></po-button>

    </div>
  </form>

</po-container>

<br>
