<hr />

<form #f="ngForm">
  <div class="po-row">
    <po-multiselect
      class="po-md-5"
      name="todasFiliais"
      [(ngModel)]="todasFiliais"
      p-label="Filial"
      [p-options]="filiais"
    >
    </po-multiselect>

    <po-select class="po-md-3" name="status_documentos" p-label="Status de documentos" [p-options]="toggleOptStatus" p-required></po-select>

    <po-select class="po-md-3" name="tipo_nfs" p-label="Tipo de NFs" [p-options]="toggleOptTipoNf"></po-select>

    <po-datepicker class="po-md-2" name="data_inicial" p-label="Data Inicial"> </po-datepicker>

    <po-datepicker class="po-md-2" name="data_final" p-label="Data Final"> </po-datepicker>

    <po-input class="po-md-2" name="numeracao_inicial" p-label="Numeração Inicial"> </po-input>

    <po-input class="po-md-2" name="numeracao_final" p-label="Numeração Final"> </po-input>

    <po-input class="po-md-1" name="serie" p-label="Série"> </po-input>

    <po-select class="po-md-2" name="ambiente" p-label="Ambiente" [p-options]="toggleOptAmbiente"></po-select>

  </div>

  <div class="po-row">
    <po-button class="po-md-2" p-label="Limpar filtro" (p-click)="restore()"> </po-button>
    <po-button class="po-md-2" p-label="Aplicar filtro" [p-disabled]="f.invalid" (p-click)="addButton(); f.reset()"> </po-button>
  </div>
</form>

<hr />
