<app-filtros *ngIf="lShow"></app-filtros>

<po-tabs>
  <po-tab
    p-label="NFe"
    (p-click)="MostraFiltro()"
  >
    <app-nfe></app-nfe>
  </po-tab>
  <po-tab p-label="PO Tabs 2"></po-tab>
  <po-tab p-label="PO Tabs 3"></po-tab>
  <po-tab p-label="PO Tabs 4"></po-tab>
  <po-tab p-label="PO Tabs 5"></po-tab>
  <po-tab p-label="PO Tabs 6"></po-tab>
  <po-tab p-label="PO Tabs 7"></po-tab>
  <po-tab p-label="PO Tabs 8"></po-tab>
  <po-tab p-label="PO Tabs 9"></po-tab>
  <po-tab p-label="PO Tabs 10"></po-tab>
  <po-tab p-label="PO Tabs 11"></po-tab>
  <po-tab p-label="PO Tabs 12"></po-tab>
  <po-tab p-label="PO Tabs 13"></po-tab>
  <po-tab p-label="PO Tabs 14"></po-tab>
</po-tabs>
